<div class="container">

  <table>

    <tr>
      <td><form action="/signin" method = "post">
          Username <input type="text" name="username">
          Password: <input type="password" name="password" >
          <p><input type="submit" value="SIGN IN"></td></p>
        </form></td>
    </tr>

  </table>

  <table>

    <tr>
      <td><form action="/signup" method = "post">
          Username: <input type="text" name="user[username]">
          Password: <input type="password" name="user[password]" >
          <p><input type="submit" value="SIGN UP!"></td></p>
        </form></td>
    </tr>

  </table>

</div>